html,body,#app{
  height: 100%;
  margin: 0;
  padding: 0;
}

.el-breadcrumb{
  margin-bottom: 15px;
}
.el-table{
  margin-top: 15px;
}
@media screen and (max-width: 1200px) {
  html,body,#app{
    min-width: 1200px;
  }
}